{% extends 'recipes/base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div class="search-results-container">
    <h2>Search Results for "{{ query }}"</h2>
    {% if recipes %}
        <ul class="recipe-list">
            {% for recipe in recipes %}
                <li>
                    <a href="{% url 'recipes:recipe_detail' recipe.spoonacular_id %}">
                        <div class="recipe-item">
                            {% if recipe.image %}
                                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                            {% endif %}
                            <div class="recipe-info">
                                <h3>{{ recipe.title }}</h3>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes found. Please try another search.</p>
    {% endif %}
</div>
{% endblock %}
